# Microestructuras y Sistemas de Trading
## Laboratorio 1
### Equipo C

## <font color="blue">  "PARADOX OF CHOICE"

* <font color="black">**INTEGRANTE 1 :**</font> Mariana López Correa
* <font color="black">**INTEGRANTE 2 :**</font> Axel Francisco Munguía Quintero

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime , timedelta

In [27]:
data= pd.read_excel("archivo_tradeview_2.xlsx",index_col='openTime').sort_index()
#data.index=pd.DatetimeIndex(data.index)

In [28]:
data.head()

,Order,Type,Size,Symbol,openPrice,S/L,T/P,closeTime,closePrice,Commission,Taxes,Swap,Profit
openTime,,,,,,,,,,,,,
2019.08.27 06:18:03,24311675,sell,0.04,eurjpy,117.40700,117.7000,0.000,2019.08.27 06:20:11,117.42300,0.0,0,0,-0.61
2019.08.27 06:22:44,24311730,sell,0.04,eurjpy,117.38900,117.7000,0.000,2019.08.27 06:23:28,117.41200,0.0,0,0,-0.87
2019.08.27 06:23:44,24311745,sell,0.04,eurjpy,117.36800,0.0000,0.000,2019.08.27 06:24:13,117.40200,0.0,0,0,-1.29
2019.08.27 06:45:16,24315841,sell,0.05,eurjpy,117.34300,117.6500,117.100,2019.08.27 09:16:08,117.31500,0.0,0,0,1.32
2019.08.27 06:52:01,24315970,sell,0.04,eurusd,1.11005,1.1126,1.107,2019.08.27 09:16:04,1.11027,0.0,0,0,-0.88

In [34]:
data.index = [data.index[k][:10] for k in range(data.shape[0])]

In [36]:
data.head()

,Order,Type,Size,Symbol,openPrice,S/L,T/P,closeTime,closePrice,Commission,Taxes,Swap,Profit
2019.08.27,24311675,sell,0.04,eurjpy,117.40700,117.7000,0.000,2019.08.27 06:20:11,117.42300,0.0,0,0,-0.61
2019.08.27,24311730,sell,0.04,eurjpy,117.38900,117.7000,0.000,2019.08.27 06:23:28,117.41200,0.0,0,0,-0.87
2019.08.27,24311745,sell,0.04,eurjpy,117.36800,0.0000,0.000,2019.08.27 06:24:13,117.40200,0.0,0,0,-1.29
2019.08.27,24315841,sell,0.05,eurjpy,117.34300,117.6500,117.100,2019.08.27 09:16:08,117.31500,0.0,0,0,1.32
2019.08.27,24315970,sell,0.04,eurusd,1.11005,1.1126,1.107,2019.08.27 09:16:04,1.11027,0.0,0,0,-0.88

In [49]:
dataframes = []
contador = 0
for k in range(len(data.index[1:])):
    if data.index[k-1]==data.index[k]:
        contador +=1 
        continue
    else: 
        dataframes.append(data.iloc[(k-contador):k,:])
        contador= 0
dataframes = dataframes[1:]

In [50]:
dataframes[0]

,Order,Type,Size,Symbol,openPrice,S/L,T/P,closeTime,closePrice,Commission,Taxes,Swap,Profit
2019.08.27,24311730,sell,0.04,eurjpy,117.38900,117.7000,0.000,2019.08.27 06:23:28,117.41200,0.0,0,0,-0.87
2019.08.27,24311745,sell,0.04,eurjpy,117.36800,0.0000,0.000,2019.08.27 06:24:13,117.40200,0.0,0,0,-1.29
2019.08.27,24315841,sell,0.05,eurjpy,117.34300,117.6500,117.100,2019.08.27 09:16:08,117.31500,0.0,0,0,1.32
2019.08.27,24315970,sell,0.04,eurusd,1.11005,1.1126,1.107,2019.08.27 09:16:04,1.11027,0.0,0,0,-0.88
2019.08.27,24316034,buy,0.04,xauusd,1529.21000,1523.0000,1543.000,2019.08.27 09:16:01,1533.69000,0.0,0,0,17.92
2019.08.27,24318553,sell,0.05,eurgbp,0.90821,0.9120,0.903,2019.08.27 13:31:11,0.90559,0.0,0,0,16.07
2019.08.27,24325707,sell,0.04,eurusd,1.11060,1.1130,1.107,2019.08.27 13:57:03,1.11093,0.0,0,0,-1.32
2019.08.27,24325723,sell,0.04,eurusd,1.11062,1.1130,1.107,2019.08.27 13:57:57,1.11079,0.0,0,0,-0.68
2019.08.27,24325740,sell,0.05,eurusd,1.11049,1.1130,1.107,2019.08.27 14:02:05,1.11090,0.0,0,0,-2.05
2019.08.27,24392449,buy,0.04,eurjpy,117.66400,117.4000,118.700,2019.08.30 09:17:23,117.39900,0.0,0,0,-9.98
2019.08.27,24334215,buy,0.01,eurjpy,117.66400,116.9500,118.700,2019.08.29 06:38:16,117.37400,0.0,0,0,-2.73
2019.08.27,24342155,buy,0.05,eurjpy,117.34600,116.9500,119.700,2019.08.28 21:01:24,117.45200,0.0,0,0,5.00

In [51]:
dataframes[1]

,Order,Type,Size,Symbol,openPrice,S/L,T/P,closeTime,closePrice,Commission,Taxes,Swap,Profit
2019.08.28,24373260,buy,0.01,eurusd,1.10791,1.104,1.1175,2019.08.29 06:38:28,1.10818,0.0,0,0,0.27

In [52]:
dataframes[2]

,Order,Type,Size,Symbol,openPrice,S/L,T/P,closeTime,closePrice,Commission,Taxes,Swap,Profit
2019.08.29,24392415,buy,0.01,gbpusd,1.22024,1.2080,1.237,2019.08.29 06:37:23,1.21990,0.0,0,0,-0.34
2019.08.29,24392425,buy,0.01,gbpjpy,129.23400,128.0000,132.200,2019.08.29 06:36:58,129.21000,0.0,0,0,-0.23
2019.08.29,24392432,buy,0.04,gbpjpy,129.23400,128.0000,132.200,2019.08.29 15:01:24,129.80100,0.0,0,0,21.35
2019.08.29,24416172,buy,0.04,eurusd,1.10543,1.1040,0.000,2019.08.29 19:56:51,1.10518,0.0,0,0,-1.00
2019.08.29,24416187,buy,0.05,eurusd,1.10545,1.1015,0.000,2019.08.30 17:57:14,1.10150,0.0,0,0,-19.75
2019.08.29,24417804,buy,0.05,xauusd,1528.76000,1524.0000,1555.000,2019.08.29 21:11:08,1523.80000,0.0,0,0,-24.80